/**첫번째 챌린지**/
.challenge1 {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.box-challenge1 {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
}

.main-challenge1 {
  display: flex;
  justify-content: space-between;

}

.sub-challenge1 {
  display: flex;
}

.margin-box3 {
  margin-left: 3px;
}

/**첫번째 챌린지 end**/

/**두번째 챌린지**/
.challenge2 {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.box-challenge2 {
  width: 100px;
  height: 100px;
  background-color: orange;
  color: white;

}

.main-challenge2 {

  display: flex;
  flex-direction: column;
}

.center-box2 {

  align-self: center;

}

.end-box2 {

  align-self: end;
}

/**두번째 챌린지 end**/

/**세번째 챌린지**/

.challenge3 {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.main-challenge3 {
  display: flex;
  justify-content: center;

}

.box-challenge3-1 {
  width: 200px;
  height: 200px;
  background-color: #2ecc71;
 
  color: white;
  position: relative;


}

.box-challenge3-2 {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  position: absolute;
  left: 50px;
  top: 50px;
 


}

/**네번째 챌린지**/

.challenge4 {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;

}

.box-challenge4-1 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  position: absolute;

}

.box-challenge4-2 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #3498db;
  color: white;
  position: relative;
  top: 50px;
  left: 50px;
}

/**다섯번째 챌린지**/
.challenge5 {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  position: relative;

}



.box-challenge5-1 {
  display: flex;
  width: 300px;
  height: 150px;
  background-color: purple;
  position: absolute;
  color: white;
  right:0px;
  bottom:0px;

}
.box{
width: 100px;
height: 100px;
background-color: #9b59b6;
color: white;

}
.challenge5-2 {

  position: absolute;
  top: 0;
  right: 0;
}

.challenge5-3 {

  position: absolute;
  bottom: 0;
  left: 0;
}